.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  height: 100%;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  margin: auto;
  height: 60%;
}

.fighter-preview___info {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 5%;
}
