.preview-container___root {
  flex: 1;
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
  margin: 2.5%;
}

.preview-container___versus-block {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.preview-container___versus-img {
  width: 130px;
}

.preview-container___fight-btn {
  background-color: #ba0303;
  border: none;
  border-radius: 5px;
  box-shadow: 6px 6px 7px 1px rgba(0, 0, 0, 0.75);
  color: #f8f9f4;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  justify-self: right;
  margin: 40px 0;
  padding: 8px 35px;
  text-align: center;
}

.preview-container___fight-btn:hover {
  padding: 10px 35px 6px;
}

.preview-container___fight-btn.disabled {
  opacity: 0;
}
